* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  background: #f8f8f8;
  overflow-x: hidden;
}

.background {
  background: url('assets/invitacion.png') no-repeat center center/cover;
  filter: brightness(0.9);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 2rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 20px;
  margin-top: 30px;
  animation: fadeIn 2s ease-in;
}

.subtitle {
  font-family: 'Great Vibes', cursive;
  font-size: 2rem;
  color: #5a6d5a;
}

.invite-text {
  margin: 10px 0 20px;
  color: #666;
}

.names {
  font-family: 'Great Vibes', cursive;
  font-size: 2.5rem;
  color: #5a6d5a;
  margin-bottom: 20px;
}

.date-time {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #444;
}

.big-number {
  font-size: 3rem;
  color: #5a6d5a;
}

.location {
  margin-bottom: 30px;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, button {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #5a6d5a;
  border-radius: 10px;
}

button {
  background-color: #5a6d5a;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #3f5240;
}

.gift-text {
  margin-top: 30px;
  font-size: 0.9rem;
  color: #666;
}

a {
  color: #5a6d5a;
  text-decoration: underline;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
